.dashboard-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;  
  width: 90%;
}

 .right-panel {
    display: flex;
    flex-direction: column;
    gap: 12px;               
    width: 100%;
    margin-left: -5rem;
} 

.dashboard-grid {
  column-gap: 1rem;  
  /* padding: 60px; */
}