/** @format */

.rate-form-card {
	border: 1px solid #dbe1ff;
	border-radius: 10px;
	padding: 10px;
	background: #fff;
}

.rate-tab {
	text-align: center;
	font-weight: 600;
	color: #4f5dff;
	border-bottom: 2px solid #4f5dff;
	padding-bottom: 3px;
	margin-bottom: 6px;
}

.form-section {
	margin-bottom: 6px;
}

label {
	font-size: 14px;
	font-weight: 500;
	display: block;
	margin-bottom: 3px;
}

.pincode-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 14px;
}

.pincode-box {
	display: flex;
	align-items: center;
	border: 1px solid #e5e7eb; 
	padding: 1px 8px;
}

.pincode-box input {
	border: none;
	outline: none;
	font-size: 12px;
	flex: 1;
}

.state {
	color: #16a34a;
	font-weight: 600;
	margin-left: 6px;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 8px;
}

.green {
	background: #16a34a;
}
.red {
	background: #dc2626;
}

.pincode-hint {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color: #9ca3af;
	margin-top: 1px;
}

.form-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 18px;
}

select,
input {
	width: 100%;
	padding: 6px 8px;
	border-radius: 8px;
	border: 1px solid #d1d5db;
	font-size: 12px;
}

.input-unit {
	display: flex;
	align-items: center;
}

.unit {
	background: #f3f4f6;
	padding: 6px 8px;
	border-radius: 0 8px 8px 0;
	border-left: 1px solid #d1d5db;
}

.helper-text {
	font-size: 12px;
	color: #9ca3af;
	margin-top: 4px;
}

.dimension-row {
	display: flex;
	align-items: center;
	gap: 8px;
}

.volumetric-box {
	background: #e1e4e7;
	padding: 14px;
	border-radius: 8px;
	font-size: 13px;
	color: #374151;
    margin-bottom: 12px;
}

.radio-group {
	display: flex;
	gap: 24px;
	font-size: 14px;
}

.calculate-btn {
	width: 100%;
	margin-top: 24px;
	padding: 12px;
	background: #4f5dff;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 15px;
	cursor: pointer;
}


.css-u69pok-MuiFormControl-root-MuiTextField-root .MuiInputBase-input {
    padding: 10px 3px !important; 
}